* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  overflow-x: auto;
  margin: 10px 10px 0 10px;
}

.x1-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.x1-button {
  background-color: #1abc9ce0;
  padding: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.error-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 200px minmax(50px, 1fr);
  grid-template-columns: 50px 200px minmax(50px, 1fr);
  row-gap: 5px;
  -webkit-column-gap: 5px;
  column-gap: 5px;
  cursor: pointer;
}

#error_column_header {
  text-transform: capitalize;
  font-weight: bold;
  font-size: large;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
}
